@model GigHub.Core.ViewModels.ArtistsViewModel

@{
    ViewBag.Title = "title";
}

<h2>@Model.Heading</h2>

<ul class="artists voffset4">
    @foreach (var artist in Model.Artists) {
        <li>
            @artist.Name
            @if (Model.ShowAction) {
                <button data-artist-id="@artist.Id" class="btn btn-default btn-sm pull-right js-toggle-follow">Follow ?</button>
            }
        </li>
    }
</ul>

@section scripts{
    <script>
        $(document)
            .ready(function () {
                $(".js-toggle-follow")
                    .click(function (e) {
                        var button = $(e.target);
                        $.post("/api/followings", { "ArtistId": button.attr("data-artist-id") })
                            .done(function () {
                                button
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Following");
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                    });
            });
    </script>
}